body /*O estilo do <body> define uma fonte padrão */{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('panodefundo.png');
    background-size: cover;  /* Faz a imagem cobrir toda a tela */
    background-position: center;  /* Centraliza a imagem */
    background-repeat: no-repeat;  /* Não repete a imagem */
    margin: 0;
    padding: 0;
}

header /* O estilo do <header> define um fundo azul escuro, texto branco, 10px de espaço interno ao redor do conteúdo e centraliza o texto */ {
    background-color: rgb(29, 60, 87);  /* Define a cor de fundo do cabeçalho */
    color: rgb(255, 255, 255);          /* Define a cor do texto como branco */
    padding: 10px;                      /* Adiciona espaço interno de 10px */
    text-align: center;                /* Centraliza o conteúdo do cabeçalho */
}

footer {
    text-align: center;                /* Centraliza o texto dentro do rodapé */
    padding: 10px;                     /* Adiciona 10px de espaço interno */
    color: rgb(0, 11, 20);                  /* Define a cor do texto como aliceblue */
    background-color: aliceblue;      /* Define a cor de fundo igual à do texto  */
    width: 100%;                       /* Faz o rodapé ocupar toda a largura da página */
}

